{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "settings": {
        "import/resolve": {
            "moduleDirectory": [
                "./jspm_packages/github",
                "."
            ]
        },
        "import/resolver": {
            "jspm": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "import/no-unresolved": [2,
            {
                "ignore": ["!text$", "!json$"]
            }
        ]
    }
}
