@mixin button($size) {
    height: $size;
    border-radius: $size;
    line-height: $size;
}

@mixin button-primary($size) {
    @include button($size);
    color: colour(news-main-1);
    background-color: colour(news-main-2);
    background-repeat: no-repeat;
}

@mixin button-secondary($size) {
    @include button($size);
    color: colour(news-main-1);
    background-color: colour(news-support-1);
}
