@import "fonts";
@import "palette";
@import "normalize";
// @import "general";
// @import "share";

@import "mq";

@include mq-add-breakpoint(embedded-wide, 465px);

$baseline: 12px;
$gutter: 10px;

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

button {
    border: none;
}

a {
    color: colour(news-support-1);
}

a, button {
    &:hover {
        cursor: pointer;
    }
}

@mixin clearfix {
    &:after,
    &:before {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.u-bold {
    font-weight: 900;
}

.u-hidden {
    display: none;
}

.brexit {
    margin: $baseline*1.5 0;
    padding: $baseline/2 $gutter/2;
    background-color: colour(news-main-1);
    color: #ffffff;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: colour(news-main-2);
        width: 94%;
        height: 100%;
        top: 0;
        left: 3%;
        z-index: -1;

        transform: rotate(-5deg);
        @include mq(embedded-wide) {
            transform: rotate(-3deg);
        }
    }
}

.brexit__header {
    @include fs-header(3);
    padding-bottom: $baseline * 1.5;
}
.brexit__button {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    background-color: colour(news-support-1);
    color: colour(news-main-1);
    svg {
        display: inline-block;
        vertical-align: middle;
        fill: colour(news-main-1);
        width: auto;
        path {
            fill: colour(news-main-1);
        }
    }

    &:hover {
        background-color: #ffffff;
    }
}
.brexit__button--dislike {
    svg {
        transform: rotate(180deg);
    }
}
.brexit__feedback {
    @include fs-textSans(2);
    margin-top: $baseline;
    text-align: right;
}
.brexit__feedback-question,
.brexit__feedback-answer {
    padding-right: $gutter / 2;
}
.brexit__title {
    @include fs-bodyHeading(4);
    margin-top: -10px;
    font-size: 22px;
    line-height: 26px;
}
.brexit__number {
    @include fs-header(5);
    color: colour(news-main-2);
    margin-top: $baseline;
}
p, ol {
    @include fs-textSans(3);
    margin: 0 0 $baseline/2 0;
    font-weight: bold;
}