@import "variables";
@import "fonts";
@import "palette";
@import "normalize";
@import "mq";
@import "modules/supporting-text";

@include mq-add-breakpoint(embedded-wide, 465px);

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

button {
    border: none;
}

a {
    color: colour(news-support-1);
}

a, button {
    &:hover {
        cursor: pointer;
    }
}

br {
    content: '';
    display: block;
    margin-bottom: $baseline;
}

p, ol, ul {
    @include fs-textSans(3);
    margin: 0 0 $baseline/2 0;
    font-weight: bold;
}
ul {
    padding-left: $gutter * 2;
}

.u-bold {
    font-weight: 900;
}

.u-hidden {
    display: none;
}
