.brexit {
    margin: $baseline*1.5 0;
    padding: $baseline/2 $gutter/2;
    background-color: colour(news-main-1);
    color: #ffffff;
    position: relative;
    overflow: hidden;
    transition: max-height .3s ease 0s;

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: $shadow-height;
    }

    &:before {
        background: url('<svg xmlns="http://www.w3.org/2000/svg" width="250" height="18" viewBox="0 0 250 18"><path fill="#4BC6DF" d="M230 18l-1.6-18L22.7 18"/></svg>') no-repeat right;
        top: -$shadow-height;
    }

    &:after {
        background: url('<svg xmlns="http://www.w3.org/2000/svg" width="250" height="18" viewBox="0 0 250 18"><path fill="#4BC6DF" d="M20 0l1.6 18L227.3 0"/></svg>') no-repeat left;
        bottom: -$shadow-height;
    }
}

.brexit__header {
    @include fs-header(3);
    min-height: $baseline * 2;
    padding-bottom: $baseline * 1.5;
}
.brexit__content {
    @include fs-textSans(3);
    margin: 0 0 $baseline/2 0;
    font-weight: bold;
}
