$brexit-catch-me-up-button-size: 34px;

.brexit__catch-me-up {
    border-top: 1px solid colour(news-main-2);
    border-bottom: 1px solid colour(news-main-2);
    padding: $baseline 0;
}

.brexit__catch-me-up__header {
    @include fs-header(5);
    color: colour(news-main-2);
}

.brexit__catch-me-up__content {
    @include fs-textSans(4);
    color: colour(neutral-1);
    font-weight: normal;
    padding: 0 8px;
}

.brexit__catch-me-up__button {
    @include button-tertiary($brexit-catch-me-up-button-size);
    @include fs-textSans(2);
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
}

.brexit__catch-me-up__col {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
