$explainer-catch-me-up-button-size: 34px;

.explainer__catch-me-up {
    border-top: 1px solid colour(news-main-2);
    border-bottom: 1px solid colour(news-main-2);
    padding: $baseline 0;
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }
}

.explainer__catch-me-up__header {
    @include fs-header(5);
    color: colour(news-main-2);
}

.explainer__catch-me-up__content {
    @include fs-textSans(4);
    color: colour(neutral-2);
    font-weight: normal;
    padding: 0 10px;
    line-height: 16px;
}

.explainer__catch-me-up__button {
    @include button-tertiary($explainer-catch-me-up-button-size);
    @include fs-textSans(3);
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px $gutter*1.5;
}

.explainer__catch-me-up__col-one {
    flex-shrink: 0;
}
