.explainer--slider {
    background-color: transparent;
    padding: 0;

    .explainer__nav-control--prev {
        left: 0;
    }
    .explainer__nav-control--next {
        right: 0;
    }
}
.explainer__slider-wrapper {
    overflow: hidden;
}
.explainer__slider {
    display: flex;
    flex-direction: row;
    margin: 0;

    transition-property: transform;
    transition-duration: 0.3s;
}
.explainer__slider__item {
    flex-grow: 1;
    flex-basis: 0;
    padding: 6px 21px;
    background-color: colour(news-main-1);

    /**
     * omitting this causes interactive's parent iframe
     * to become wider than the viewport on iOS
     */
    width: 1px;
}
